In [1]:
## NECESSARY LIBRARIES
import pandas as pd
import dataretrieval.nwis as nwis

In [9]:
## USING THE USGS DATARETRIEVAL TO GE THE WAKULLA STATION DATA
## WAKULLA SPRING VENT STATION #02327000
## GET INSTANTANEOUS STAGE VALUE ("IV")
## TIME FRAME MATCHES WHAT IS NEEDED TO MATCH COVERAGE OF NWFWMD DATA

wak = nwis.get_record(sites='02327000', service='iv', start='2017-01-27', end='2020-01-31')

In [15]:
wak.index = pd.to_datetime(wak.index)

In [16]:
type(wak.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [17]:
wak

,00010,00010_cd,site_no,00045,00045_cd,00065,00065_cd,00095,00095_cd,00300,00300_cd,00400,00400_cd,63680,63680_cd,99133,99133_cd
datetime,,,,,,,,,,,,,,,,,
2017-01-27 15:51:00+00:00,NaN,NaN,02327000,NaN,NaN,5.47,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-27 16:00:00+00:00,20.6,A,02327000,NaN,NaN,5.47,A,299.0,A,2.0,A,7.5,A,0.0,A,0.42,A
2017-01-27 16:15:00+00:00,20.6,A,02327000,NaN,NaN,5.46,A,299.0,A,2.0,A,7.5,A,0.1,A,0.42,A
2017-01-27 16:30:00+00:00,20.6,A,02327000,NaN,NaN,5.47,A,299.0,A,2.0,A,7.5,A,0.1,A,0.42,A
2017-01-27 16:45:00+00:00,20.6,A,02327000,NaN,NaN,5.46,A,299.0,A,2.0,A,7.5,A,0.1,A,0.42,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-01 03:45:00+00:00,20.9,A,02327000,0.0,A,4.80,A,894.0,A,1.6,A,7.5,A,NaN,NaN,0.34,A
2020-02-01 04:00:00+00:00,20.9,A,02327000,0.0,A,4.80,A,893.0,A,1.6,A,7.5,A,NaN,NaN,0.34,A
2020-02-01 04:15:00+00:00,20.9,A,02327000,0.0,A,4.80,A,893.0,A,1.6,A,7.5,A,NaN,NaN,0.34,A
2020-02-01 04:30:00+00:00,20.9,A,02327000,0.0,A,4.80,A,891.0,A,1.6,A,7.5,A,NaN,NaN,0.34,A
2020-02-01 04:45:00+00:00,20.9,A,02327000,0.0,A,4.79,A,892.0,A,1.6,A,7.5,A,NaN,NaN,0.34,A

In [ ]:
##rESAMPLE THE INSTANTANEOUS DATA TO A DAILY MEAN STAGE
test=wak.resample('1D').mean()

In [10]:
## Replace column name codes with real values
test=test.rename(columns={"00010": "Temp_C", "00045": "Precip_in", "00065": "Gage_height_ft", 
                     "00095":"spec_cond", "00300": "DO","00400":"pH", "63680":"Turbidity",
                     "99133":"Nitrate_Nitrite"})

In [14]:
## Fill in any missing data with an inerpolation between missing points
## If this cannot be done, fill in the values with the mean of the time series

#export the processed data to 
print(test.isna().sum().sum())
tz=test.interpolate()
print(tz.isna().sum().sum())
t=tz.apply(lambda x: x.fillna(x.mean()),axis=0)
print(t.isna().sum().sum())
print(t)
t.to_csv("./data/processed/DailyWakulla.CSV")

690
97
0
                              Temp_C  Precip_in  Gage_height_ft   spec_cond  \
datetime
2017-01-27 00:00:00+00:00  20.562500   0.001889        5.470909  298.156250
2017-01-28 00:00:00+00:00  20.509375   0.001889        5.418021  296.281250
2017-01-29 00:00:00+00:00  20.521875   0.001889        5.345312  294.197917
2017-01-30 00:00:00+00:00  20.527083   0.001889        5.237917  293.843750
2017-01-31 00:00:00+00:00  20.527083   0.001889        5.171563  294.479167
...                              ...        ...             ...         ...
2020-01-28 00:00:00+00:00  20.930208   0.000000        4.814896  842.500000
2020-01-29 00:00:00+00:00  20.900000   0.001042        4.811146  855.781250
2020-01-30 00:00:00+00:00  20.922917   0.000000        4.807292  888.937500
2020-01-31 00:00:00+00:00  20.900000   0.001042        4.777188  900.937500
2020-02-01 00:00:00+00:00  20.900000   0.000000        4.794500  897.200000

                                 DO        pH  Turbidity  Nitrate_Nitrite
datetime
2017-01-27 00:00:00+00:00  2.000000  7.500000   0.065625         0.420000
2017-01-28 00:00:00+00:00  2.001042  7.500000   0.080000         0.425625
2017-01-29 00:00:00+00:00  2.053125  7.479167   0.093684         0.432083
2017-01-30 00:00:00+00:00  2.116667  7.400000   0.074737         0.438958
2017-01-31 00:00:00+00:00  2.156250  7.400000   0.056250         0.441739
...                             ...       ...        ...              ...
2020-01-28 00:00:00+00:00  1.644792  7.500000   0.239286         0.339583
2020-01-29 00:00:00+00:00  1.626042  7.500000   0.239286         0.337604
2020-01-30 00:00:00+00:00  1.627083  7.500000   0.239286         0.335521
2020-01-31 00:00:00+00:00  1.606250  7.500000   0.239286         0.339375
2020-02-01 00:00:00+00:00  1.600000  7.500000   0.239286         0.340000

[1101 rows x 8 columns]

In [3]:
##Target Dataset 2017-07-27 thru 2020-2-1 
## Daily groundwater )gw) and surface water (stage) data were 
## manually downloaded from the NEWFWMD data portal (https://nwfwmd.aquaticinformatics.net/AQWebPortal)

gw = pd.read_csv("./data/raw/Daily_GW.CSV",
                    parse_dates=['Datetime'],
                    index_col=['Datetime'])
stage= pd.read_csv("./data/raw/Stage_Daily.CSV",
                    parse_dates=['Datetime'],
                    index_col=['Datetime'])
spring=pd.read_csv("./data/raw/DailyWakulla.CSV",
                    parse_dates=['datetime'],
                    index_col=['datetime'])

In [4]:

## A few multiple data per day, aggregate to each day(check shape)
print(stage.shape)
stage=stage.resample('1D').mean()
print(stage.shape)

(2988, 44)
(2697, 44)

In [5]:
# fill in missing groundwater values
gw_zoom=gw.loc['20170127':'20200201']
print(gw_zoom.isna().sum().sum())
gz=gw_zoom.interpolate()
print(gz.isna().sum().sum())
g=gz.apply(lambda x: x.fillna(x.mean()),axis=0)
print(g.isna().sum().sum())
g

2045
29
0

,USGS-LESTER LEWIS/S788,NWFWMD-BIKE TRAIL / NITRATE POT. MAP/S795,NWFWMD-BRADFORD BROOK DEEP/S793,NWFWMD-BRADFORD BROOK SHALLOW,TOM BROWN TEST/S791,USGS-OLSON RD./S677,NWFWMD-HQ FLORIDAN OBS/S704,USGS-LAKE JACKSON INTERMEDIATE/S706,NWFWMD-NITRATE #1,NWFWMD-NITRATE #2/S790,...,NWFWMD GW-6F (MICC GREENWAY)/S816,NWFWMD GW-7F (LEON CR-59)/S818,NWFWMD GW-5S (LEON CTY VFD),NWFWMD GW-7S (LEON CR-59),NWFWMD GW-4F-LZ (HWY27 DOT)/S812,NWFWMD GW-12F (RIVERSPRINGS MS)/S820,NWFWMD GW-2S (FT BRADEN)/S805,NWFWMD GW-6S (MICC GREENWAY),NWFWMD GW-2F-UZ (FT BRADEN)/S826,NWFWMD GW-3F-UZ (ANF FR-305)
Datetime,,,,,,,,,,,,,,,,,,,,,
2017-01-27,6.340833,15.025417,20.722396,38.613021,25.915625,33.623333,55.489583,83.025701,3.819063,3.989167,...,40.941263,56.584583,135.726146,82.651745,36.729062,5.482011,160.081113,145.781473,80.928072,83.786563
2017-01-28,6.220729,15.082292,20.793333,38.617604,26.018438,33.803750,55.505833,83.025701,3.685833,3.862604,...,40.963053,56.634167,135.919167,82.651745,36.411146,5.482011,160.092731,145.825791,80.918805,83.775000
2017-01-29,6.153437,15.110937,20.879063,38.627188,26.037917,33.853750,55.585000,83.025701,3.681458,3.854792,...,41.009579,56.725417,136.070000,82.651745,36.189271,5.482011,160.084453,145.909893,80.960498,83.805625
2017-01-30,6.046042,15.071146,20.889583,38.558646,25.949375,33.879167,55.582917,83.025701,3.526146,3.700104,...,40.928316,56.707083,136.153332,82.651745,35.969896,5.482011,160.056280,145.888948,80.962254,83.787188
2017-01-31,5.991563,15.027812,20.922917,38.519583,25.973021,33.963750,55.602500,83.025701,3.562812,3.729896,...,40.910211,56.730938,136.227187,82.651745,35.788958,5.482011,160.034881,145.885473,80.970735,83.783438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-28,5.997887,10.917344,16.378229,33.653193,21.118021,27.338963,54.374673,82.538396,4.140069,4.233151,...,36.499271,54.593828,130.734896,80.266296,31.406467,5.213437,157.971482,141.360833,80.031893,82.988801
2020-01-29,6.007684,10.918021,16.392500,33.617434,21.132604,27.251736,54.369017,82.511750,4.178647,4.256241,...,36.488125,54.590286,130.744271,80.245040,31.390947,5.217708,157.953322,141.346979,80.031893,83.285418
2020-01-30,5.852846,10.912812,16.374062,33.564070,21.096042,27.149925,54.339330,82.490667,4.174205,4.251518,...,36.448437,54.619453,130.748125,80.192326,31.351677,5.227917,157.934861,141.298542,80.031893,83.221307
2020-01-31,5.868403,10.903437,16.363854,33.529665,21.081979,26.102281,54.306080,82.426135,4.140908,4.213357,...,36.419479,54.640286,130.750521,80.159404,31.330428,5.196667,157.919094,141.265000,80.031893,83.152299
2020-02-01,5.731397,10.904583,16.365312,33.508489,21.107292,26.175888,54.323029,82.387646,4.141049,4.219676,...,36.430521,54.620495,130.753646,80.138149,31.364908,5.189063,157.909164,141.268438,80.031893,83.122667

In [6]:
## Fill in missing groudnwater values
stage_zoom=stage.loc['20170127':'20200201']
print(stage_zoom.isna().sum().sum())
sz=stage_zoom.interpolate()
print(sz.isna().sum().sum())
s=sz.apply(lambda x: x.fillna(x.mean()),axis=0)
print(s.isna().sum().sum())
s

4370
947
0

,AMES SINK/S555,MUNSON SLOUGH @ CAPITAL CIRCLE,FORDS ARM TRIB@MERD,ALFORD ARM TRIB@BUCK,CENTRAL D.D.@ORANGE,WEST DRAINAGE DITCH @ ROBERTS AVE,LAKE KANTURK OUTFALL,LAKE LAFAYETTE OUTFALL,NE D.D.@MAHAN DR,PARK AV D.D.@ VIOLET - S100,...,Lauder Pond near Thomasville/Bannerman Rd,Regional Stormwater Facility - City of Tallahassee,Southwood SW Pond SB111B,Southwood SW Pond WD005,Lake Miccosukee @ US90 Outfall,LAKE IAMONIA EAST,LAKE KILLARNY AT MCLAUGHLIN DRIVE,LAKE KANTURK AT CLIFDEN DR,INDIAN SPRING RUN AT SR61,ST. MARKS RIVER - UPPER DISCHARGE BEFORE SWALLET
Datetime,,,,,,,,,,,,,,,,,,,,,
2017-01-27,12.976535,26.506570,101.178004,46.092545,30.546066,37.813413,74.413647,42.485242,46.990268,60.507805,...,160.270604,46.319625,32.452569,29.550000,79.397917,98.302344,73.279792,73.315469,5.243125,9.488892
2017-01-28,12.235892,26.380958,101.120816,46.024420,30.525372,37.707198,74.381407,42.485242,46.875146,60.450931,...,160.190274,46.288688,32.445677,29.550017,79.373958,98.265703,73.217240,73.252917,5.170104,9.488892
2017-01-29,10.897750,26.314513,101.070504,45.943014,30.509556,37.725219,74.350936,42.485242,46.827350,60.414629,...,160.113000,46.288063,32.447951,29.551181,79.366510,98.233958,73.161146,73.196979,5.105208,9.488892
2017-01-30,10.046240,26.263935,101.043472,45.899628,30.501066,37.603847,74.309289,42.485242,46.800563,60.386244,...,160.056698,46.288306,32.446458,29.550035,79.346510,98.205833,73.118229,73.152708,5.053958,9.488892
2017-01-31,9.334417,26.232386,101.021701,45.839976,30.493010,37.582859,74.268229,42.485242,46.781031,60.363883,...,160.006212,46.293809,32.443924,29.550104,79.329167,98.185781,73.079583,73.115833,5.009167,9.488892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-28,6.569590,26.037590,101.471372,44.321000,30.448601,37.249299,73.449965,39.948000,46.480431,59.946625,...,160.057913,44.944747,32.283212,33.732735,76.656413,96.246719,70.831029,67.873646,4.154792,9.473802
2020-01-29,6.564278,26.029344,101.470608,44.321000,30.455146,37.242684,73.450000,39.948000,46.469280,59.955375,...,159.989528,44.957038,32.289271,33.454718,76.654269,96.208203,70.778004,67.787083,4.122083,9.482474
2020-01-30,6.585163,26.037469,101.471059,44.321000,30.461656,37.260566,73.450000,39.948000,46.481571,59.953517,...,159.934458,44.970927,32.293142,33.269652,76.650928,96.175104,70.724979,67.700573,4.087708,9.492500
2020-01-31,6.564226,26.044465,101.471528,44.321000,30.464156,37.247076,73.450000,39.948000,46.474000,59.955410,...,159.899823,44.982021,32.299340,33.107491,76.630939,96.157969,70.689629,67.640833,4.070000,9.493906
2020-02-01,6.562698,26.052417,101.478056,44.321000,30.503913,37.321799,73.450000,39.948000,46.470796,59.982719,...,159.868920,45.018913,32.295243,33.439235,76.631941,96.136667,70.654279,67.584167,4.061667,9.495677

In [86]:
wak=spring['Gage_Height']
wak

datetime
2017-01-27 00:00:00+00:00    5.470909
2017-01-28 00:00:00+00:00    5.418021
2017-01-29 00:00:00+00:00    5.345313
2017-01-30 00:00:00+00:00    5.237917
2017-01-31 00:00:00+00:00    5.171563
                               ...
2020-01-28 00:00:00+00:00    4.814896
2020-01-29 00:00:00+00:00    4.811146
2020-01-30 00:00:00+00:00    4.807292
2020-01-31 00:00:00+00:00    4.777188
2020-02-01 00:00:00+00:00    4.794500
Name: Gage_Height, Length: 1101, dtype: float64

In [87]:
#Combine the groudnwater and surface water dataframes
gw_stage_inputs = pd.concat([g, s], axis=1)
gw_stage_inputs.isna().sum().sum()
#gw_stage_inputs
gs=gw_stage_inputs.interpolate()
gs.isna().sum().sum()
gs

,USGS-LESTER LEWIS/S788,NWFWMD-BIKE TRAIL / NITRATE POT. MAP/S795,NWFWMD-BRADFORD BROOK DEEP/S793,NWFWMD-BRADFORD BROOK SHALLOW,TOM BROWN TEST/S791,USGS-OLSON RD./S677,NWFWMD-HQ FLORIDAN OBS/S704,USGS-LAKE JACKSON INTERMEDIATE/S706,NWFWMD-NITRATE #1,NWFWMD-NITRATE #2/S790,...,Lauder Pond near Thomasville/Bannerman Rd,Regional Stormwater Facility - City of Tallahassee,Southwood SW Pond SB111B,Southwood SW Pond WD005,Lake Miccosukee @ US90 Outfall,LAKE IAMONIA EAST,LAKE KILLARNY AT MCLAUGHLIN DRIVE,LAKE KANTURK AT CLIFDEN DR,INDIAN SPRING RUN AT SR61,ST. MARKS RIVER - UPPER DISCHARGE BEFORE SWALLET
Datetime,,,,,,,,,,,,,,,,,,,,,
2017-01-27,6.340833,15.025417,20.722396,38.613021,25.915625,33.623333,55.489583,83.025701,3.819063,3.989167,...,160.270604,46.319625,32.452569,29.550000,79.397917,98.302344,73.279792,73.315469,5.243125,9.488892
2017-01-28,6.220729,15.082292,20.793333,38.617604,26.018438,33.803750,55.505833,83.025701,3.685833,3.862604,...,160.190274,46.288688,32.445677,29.550017,79.373958,98.265703,73.217240,73.252917,5.170104,9.488892
2017-01-29,6.153437,15.110937,20.879063,38.627188,26.037917,33.853750,55.585000,83.025701,3.681458,3.854792,...,160.113000,46.288063,32.447951,29.551181,79.366510,98.233958,73.161146,73.196979,5.105208,9.488892
2017-01-30,6.046042,15.071146,20.889583,38.558646,25.949375,33.879167,55.582917,83.025701,3.526146,3.700104,...,160.056698,46.288306,32.446458,29.550035,79.346510,98.205833,73.118229,73.152708,5.053958,9.488892
2017-01-31,5.991563,15.027812,20.922917,38.519583,25.973021,33.963750,55.602500,83.025701,3.562812,3.729896,...,160.006212,46.293809,32.443924,29.550104,79.329167,98.185781,73.079583,73.115833,5.009167,9.488892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-28,5.997887,10.917344,16.378229,33.653193,21.118021,27.338963,54.374673,82.538396,4.140069,4.233151,...,160.057913,44.944747,32.283212,33.732735,76.656413,96.246719,70.831029,67.873646,4.154792,9.473802
2020-01-29,6.007684,10.918021,16.392500,33.617434,21.132604,27.251736,54.369017,82.511750,4.178647,4.256241,...,159.989528,44.957038,32.289271,33.454718,76.654269,96.208203,70.778004,67.787083,4.122083,9.482474
2020-01-30,5.852846,10.912812,16.374062,33.564070,21.096042,27.149925,54.339330,82.490667,4.174205,4.251518,...,159.934458,44.970927,32.293142,33.269652,76.650928,96.175104,70.724979,67.700573,4.087708,9.492500
2020-01-31,5.868403,10.903437,16.363854,33.529665,21.081979,26.102281,54.306080,82.426135,4.140908,4.213357,...,159.899823,44.982021,32.299340,33.107491,76.630939,96.157969,70.689629,67.640833,4.070000,9.493906
2020-02-01,5.731397,10.904583,16.365312,33.508489,21.107292,26.175888,54.323029,82.387646,4.141049,4.219676,...,159.868920,45.018913,32.295243,33.439235,76.631941,96.136667,70.654279,67.584167,4.061667,9.495677

In [88]:
gs.to_csv("./data/processed/gw_stage.CSV")
wak.to_csv("./data/processed/spring.CSV")

In [40]:
### Met Data manually downloaded from weather station at Tallahassee airport from 
## the Florida Climate Center (https://climatecenter.fsu.edu/climate-data-access-tools/downloadable-data)
met_df=pd.read_csv('../data//raw/RawDailyMetTallahassee.csv')
met_df

      COOPID  YEAR  MONTH  DAY  PRECIPITATION  MAX TEMP  MIN TEMP  MEAN TEMP
0      88758  2017      1   27        0.00000        58        39       48.5
1      88758  2017      1   28        0.00000        51        38       44.5
2      88758  2017      1   29        0.00000        63        38       50.5
3      88758  2017      1   30        0.00000        65        31       48.0
4      88758  2017      1   31        0.00000        75        35       55.0
...      ...   ...    ...  ...            ...       ...       ...        ...
1096   88758  2020      1   28        0.00000        67        36       51.5
1097   88758  2020      1   29        0.06000        53        35       44.0
1098   88758  2020      1   30        0.00000        65        48       56.5
1099   88758  2020      1   31        0.15000        56        48       52.0
1100   88758  2020      2    1        0.00001        52        39       45.5

[1101 rows x 8 columns]

In [41]:
cols = ["YEAR", "MONTH", "DAY"]
met_df['Datetime'] = pd.to_datetime(dict(year=met_df['YEAR'], month=met_df['MONTH'], day=met_df['DAY']))

In [42]:
df=met_df[['Datetime', "PRECIPITATION", "MAX TEMP", "MIN TEMP", "MEAN TEMP"]].copy()
df

       Datetime  PRECIPITATION  MAX TEMP  MIN TEMP  MEAN TEMP
0    2017-01-27        0.00000        58        39       48.5
1    2017-01-28        0.00000        51        38       44.5
2    2017-01-29        0.00000        63        38       50.5
3    2017-01-30        0.00000        65        31       48.0
4    2017-01-31        0.00000        75        35       55.0
...         ...            ...       ...       ...        ...
1096 2020-01-28        0.00000        67        36       51.5
1097 2020-01-29        0.06000        53        35       44.0
1098 2020-01-30        0.00000        65        48       56.5
1099 2020-01-31        0.15000        56        48       52.0
1100 2020-02-01        0.00001        52        39       45.5

[1101 rows x 5 columns]

In [43]:
df.rename(columns = {"PRECIPITATION": "Precip", "MAX TEMP":"Max_Temp", "MIN TEMP":"Min_Temp", "MEAN TEMP": "Mean_Temp"},
         inplace=True)

In [44]:
df['DOY']=df['Datetime'].dt.dayofyear
df

       Datetime   Precip  Max_Temp  Min_Temp  Mean_Temp  DOY
0    2017-01-27  0.00000        58        39       48.5   27
1    2017-01-28  0.00000        51        38       44.5   28
2    2017-01-29  0.00000        63        38       50.5   29
3    2017-01-30  0.00000        65        31       48.0   30
4    2017-01-31  0.00000        75        35       55.0   31
...         ...      ...       ...       ...        ...  ...
1096 2020-01-28  0.00000        67        36       51.5   28
1097 2020-01-29  0.06000        53        35       44.0   29
1098 2020-01-30  0.00000        65        48       56.5   30
1099 2020-01-31  0.15000        56        48       52.0   31
1100 2020-02-01  0.00001        52        39       45.5   32

[1101 rows x 6 columns]

In [45]:
###Hargreaves  Equation for PET Calculation https://github.com/woodcrafty/PyETo/blob/master/pyeto/fao.py
import math
def sol_dec(day_of_year):
    """
    Calculate solar declination from day of the year.
    Based on FAO equation 24 in Allen et al (1998).
    :param day_of_year: Day of year integer between 1 and 365 or 366).
    :return: solar declination [radians]
    :rtype: float
    """
    #_check_doy(day_of_year)
    return 0.409 * math.sin(((2.0 * math.pi / 365.0) * day_of_year - 1.39))
def inv_rel_dist_earth_sun(day_of_year):
    """
    Calculate the inverse relative distance between earth and sun from
    day of the year.
    Based on FAO equation 23 in Allen et al (1998).
    :param day_of_year: Day of the year [1 to 366]
    :return: Inverse relative distance between earth and the sun
    :rtype: float
    """
    #_check_doy(day_of_year)
    return 1 + (0.033 * math.cos((2.0 * math.pi / 365.0) * day_of_year))

def sunset_hour_angle(latitude, sol_dec):
    """
    Calculate sunset hour angle (*Ws*) from latitude and solar
    declination.
    Based on FAO equation 25 in Allen et al (1998).
    :param latitude: Latitude [radians]. Note: *latitude* should be negative
        if it in the southern hemisphere, positive if in the northern
        hemisphere.
    :param sol_dec: Solar declination [radians]. Can be calculated using
        ``sol_dec()``.
    :return: Sunset hour angle [radians].
    :rtype: float
    """
    #_check_latitude_rad(latitude)
    #_check_sol_dec_rad(sol_dec)

    cos_sha = -math.tan(latitude) * math.tan(sol_dec)
    # If tmp is >= 1 there is no sunset, i.e. 24 hours of daylight
    # If tmp is <= 1 there is no sunrise, i.e. 24 hours of darkness
    # See http://www.itacanet.org/the-sun-as-a-source-of-energy/
    # part-3-calculating-solar-angles/
    # Domain of acos is -1 <= x <= 1 radians (this is not mentioned in FAO-56!)
    return math.acos(min(max(cos_sha, -1.0), 1.0))
def et_rad(latitude, sol_dec, sha, ird):
    """
    Estimate daily extraterrestrial radiation (*Ra*, 'top of the atmosphere
    radiation').
    Based on equation 21 in Allen et al (1998). If monthly mean radiation is
    required make sure *sol_dec*. *sha* and *irl* have been calculated using
    the day of the year that corresponds to the middle of the month.
    **Note**: From Allen et al (1998): "For the winter months in latitudes
    greater than 55 degrees (N or S), the equations have limited validity.
    Reference should be made to the Smithsonian Tables to assess possible
    deviations."
    :param latitude: Latitude [radians]
    :param sol_dec: Solar declination [radians]. Can be calculated using
        ``sol_dec()``.
    :param sha: Sunset hour angle [radians]. Can be calculated using
        ``sunset_hour_angle()``.
    :param ird: Inverse relative distance earth-sun [dimensionless]. Can be
        calculated using ``inv_rel_dist_earth_sun()``.
    :return: Daily extraterrestrial radiation [MJ m-2 day-1]
    :rtype: float
    """
    #_check_latitude_rad(latitude)
    #_check_sol_dec_rad(sol_dec)
    #_check_sunset_hour_angle_rad(sha)

    tmp1 = (24.0 * 60.0) / math.pi
    tmp2 = sha * math.sin(latitude) * math.sin(sol_dec)
    tmp3 = math.cos(latitude) * math.cos(sol_dec) * math.sin(sha)
    return tmp1 * SOLAR_CONSTANT * ird * (tmp2 + tmp3)

def hargreaves(tmin, tmax, tmean, et_rad):
    """
    Estimate reference evapotranspiration over grass (ETo) using the Hargreaves
    equation.
    Generally, when solar radiation data, relative humidity data
    and/or wind speed data are missing, it is better to estimate them using
    the functions available in this module, and then calculate ETo
    the FAO Penman-Monteith equation. However, as an alternative, ETo can be
    estimated using the Hargreaves ETo equation.
    Based on equation 52 in Allen et al (1998).
    :param tmin: Minimum daily temperature [deg C]
    :param tmax: Maximum daily temperature [deg C]
    :param tmean: Mean daily temperature [deg C]. If emasurements not
        available it can be estimated as (*tmin* + *tmax*) / 2.
    :param et_rad: Extraterrestrial radiation (Ra) [MJ m-2 day-1]. Can be
        estimated using ``et_rad()``.
    :return: Reference evapotranspiration over grass (ETo) [mm day-1]
    :rtype: float
    """
    # Note, multiplied by 0.408 to convert extraterrestrial radiation could
    # be given in MJ m-2 day-1 rather than as equivalent evaporation in
    # mm day-1
    return 0.0023 * (tmean + 17.8) * (tmax - tmin) ** 0.5 * 0.408 * et_rad

In [46]:
LATITUDE= 30.3956195
SOLAR_CONSTANT = 0.0820
#solar_dec=[]
#ird=[]
#sha=[]
EtRad=[]
pet=[]
for i in df['DOY']:
    #solar_dec.append(sol_dec(i))
    #ird.append(inv_rel_dist_earth_sun(i))
    #sha.append(sunset_hour_angle(LATITUDE, sol_dec(i)))
    EtRad.append(et_rad(LATITUDE, sol_dec(i), sunset_hour_angle(LATITUDE, sol_dec(i)), inv_rel_dist_earth_sun(i)))

for i in range(len(df['DOY'])):
    pet.append(hargreaves((df['Min_Temp'][i]-32)*5/9, (df["Max_Temp"][i]-32)*5/9,(df["Mean_Temp"][i]-32)*5/9, EtRad[i]))

In [51]:
df['PET']=pet
df=df.drop(columns=['DOY'])

In [52]:
df

       Datetime   Precip  Max_Temp  Min_Temp  Mean_Temp       PET
0    2017-01-27  0.00000        58        39       48.5  3.189802
1    2017-01-28  0.00000        51        38       44.5  2.403944
2    2017-01-29  0.00000        63        38       50.5  3.755256
3    2017-01-30  0.00000        65        31       48.0  4.131664
4    2017-01-31  0.00000        75        35       55.0  5.095131
...         ...      ...       ...       ...        ...       ...
1096 2020-01-28  0.00000        67        36       51.5  4.295638
1097 2020-01-29  0.06000        53        35       44.0  2.776629
1098 2020-01-30  0.00000        65        48       56.5  3.438450
1099 2020-01-31  0.15000        56        48       52.0  2.154414
1100 2020-02-01  0.00001        52        39       45.5  2.384471

[1101 rows x 6 columns]

In [53]:
df.to_csv("../data/processed/DailyMet.CSV", index=False)